[package]
name = "nft"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[package.metadata.psibase]
server = "r-nft"
plugin = "nft-plugin"
postinstall = [{ sender = "nft", service = "nft", method = "init", data = {} }]

[dependencies]
psibase.workspace = true
psibase_macros.workspace = true
async-graphql.workspace = true
serde.workspace = true
serde_json.workspace = true
psibase-user-workspace-hack.workspace = true

[dev-dependencies]
nft-pkg = { path = "..", version = "0.23.0" }
