[package]
name = "test-contract"
version.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[package.metadata.psibase]
package-name = "test_contract"

[lib]
crate-type = ["cdylib"]

[dependencies]
psibase.workspace = true
psibase-rust-workspace-hack.workspace = true
serde.workspace = true
serde_json.workspace = true
