[package]
name = "test_contract"
version.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
psibase = { version = "0.1.0", path = "../psibase" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
