[package]
name = "token-swap"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[package.metadata.psibase]
server = "r-token-swap"
plugin = "token-swap-plugin"
data = [{ src = "../ui/dist", dst = "/" }]
postinstall = [
    { sender = "token-swap", service = "token-swap", method = "init", data = {} },
]

[dependencies]
psibase.workspace = true
psibase_macros.workspace = true
async-graphql.workspace = true
serde.workspace = true
serde_json.workspace = true
psibase-user-workspace-hack.workspace = true

[dev-dependencies]
token-swap-pkg = { path = "..", version = "0.22.0" }
