---
BasedOnStyle: Chromium
BreakBeforeBraces: Allman
ColumnLimit: '100'
IndentWidth: '3'
NamespaceIndentation: All
ReflowComments: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
