.ccache
.DS_Store
.nyc_output
.vscode
.trunk
*.a
*.log
*.o
*.tsbuildinfo
*.wasm
*.wat
build
build-*
CMakeCache.txt
CMakeFiles
compile_commands.json
Makefile
node_modules
temp
dist
vite.config.ts.timestamp-*.mjs
.pnpm-store
.env