.caches
.ccache
.cache
.DS_Store
.nyc_output
.vscode
.trunk
.cursor
.cursorignore
.cursorrules
*.a
*.log
*.o
*.tsbuildinfo
*.wasm
*.wat
*.pem
build
build-*
CMakeCache.txt
CMakeFiles
compile_commands.json
Makefile
node_modules
temp
dist
vite.config.ts.timestamp-*.mjs
.pnpm-store
.env
psinode_db
psinode_db_secure
db
db_secure
__pycache__
ccache.conf
bindings.rs
target/
