.milkdown {
    @apply p-4;
}

.prose.editor {
    @apply mx-auto max-w-none;
}

/* list-item-block */
.prose :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
    font-style: inherit;
    font-weight: inherit;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.prose ol,
.prose ul {
    list-style: none !important;
    padding: 0;
}

.prose li p {
    @apply !m-0 !leading-6;
}

.prose li p + p {
    @apply !mt-2;
}

.prose li.ProseMirror-selectednode {
    outline: 2px solid #8cf;
}

.prose li::after {
    all: unset !important;
}

milkdown-list-item-block {
    & > .list-item {
        gap: 8px;
        display: flex;
        align-items: start;
    }

    & > .list-item > .children {
        min-width: 0;
        flex: 1;
    }
}

milkdown-list-item-block .label-wrapper {
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
}

milkdown-link-preview {
    & > .link-preview {
        @apply rounded-md border bg-white;
        height: 42px;
        display: flex;
        justify-content: center;
        padding: 8px;
        gap: 8px;
        cursor: pointer;

        & > .link-display:hover:before {
            display: block;
        }

        & > .link-display:before {
            content: "click to copy link";
            position: absolute;
            transform: translate(50%, -130%);
            padding: 6px 10px;
            font-size: 12px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;

            display: none;
        }

        & > .link-icon {
            & > svg {
                width: 14px;
                height: 14px;
            }
            padding: 5px;
        }

        & > .link-display {
            width: 240px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
        }

        & > .button {
            & > svg {
                width: 14px;
                height: 14px;
            }
            padding: 5px;
            @apply rounded-md;
            &:hover {
                @apply bg-accent;
            }
        }
    }
}

milkdown-link-edit {
    & > .link-edit {
        @apply flex justify-center gap-2 rounded-md border bg-white px-3 py-2;
        height: 42px;

        & > .input-area {
            outline: none;
            background: transparent;
            width: 200px;
            font-size: 14px;
        }

        & > .button {
            @apply flex cursor-pointer items-center rounded-md px-1.5;
            font-size: 12px;
            &:hover {
                @apply bg-accent;
            }
            &.hidden {
                visibility: hidden;
            }
        }
    }
}
