[package]
name = "psi_macros"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.36"
proc-macro-error = "1.0.4"
quote = "1.0.15"
syn = {version = "1.0.86", features = ["full"] }
