[package]
name = "tpack"
description = "Test service for package building"
version.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[package.metadata.psibase]
server = "r-tpack"
postinstall = [{ sender = "tpack", service = "tpack", method = "init" }]

[package.metadata.psibase.dependencies]
HttpServer = "0.23.0"
Sites = "0.23.0"

[dependencies]
psibase.workspace = true
psibase-rust-workspace-hack.workspace = true
serde.workspace = true

[dev-dependencies]
test_package = { path = "..", version = "0.23.0" }
