[package]
name = "r-tpack"
description = "Query service for package building test"
version.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[package.metadata.psibase]
plugin = "tpack-plugin"
data = [{ src = "../ui", dst = "/" }]

[dependencies]
psibase.workspace = true
serde.workspace = true
tpack = { path = "../service", version = "0.22.0" }
psibase-rust-workspace-hack.workspace = true
