.dnd-action {
    --focused-outline-color: #4c9ffe;

    @media (hover: hover) {
        &:hover {
            background-color: var(--action-background, rgba(0, 0, 0, 0.05));
        }
    }

    svg {
        @apply flex-shrink-0 flex-grow-0;
    }

    &:active {
        background-color: var(--background, rgba(0, 0, 0, 0.05));

        svg {
            fill: var(--fill, #788491);
        }
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0),
            0 0px 0px 2px var(--focused-outline-color);
    }
}
