[workspace]
members = [
    "account_sys",
    "burst-transfer",
    "cargo-psibase",
    "fracpack",
    "gen-cpp-doc",
    "md2man",
    "psibase_macros",
    "psibase",
    "test_contract",
    "test_service_elections",
    "test_service_psispace",
    "test_fracpack",
]

[workspace.package]
version = "0.1.0"
rust-version = "1.64"
repository = "https://github.com/gofractally/psibase"
homepage = "https://psibase.io"
