.dnd-container {
    &.shadow {
        box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);
    }
    &:focus-visible {
        border-color: transparent;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
    }
}

.dnd-container:first-child, .dashed-bottom-border {
    border-bottom-width: 8px;
    border-image-source: url("/images/dnd-border.png");
    border-image-repeat: repeat;
    border-image-slice: 24;
    border-image-width: 8px;
}

.bg-green-gradient {
    background: linear-gradient(180deg, #10B981 0%, #E0F6EF 100%);
}
