[package]
name = "psibase"
version = "0.1.2"
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition = "2021"
description = "Library and command-line tool for interacting with psibase blockchains"
license = "MIT"

[dependencies]
chrono = "0.4"
custom_error = "1.9"
fracpack = { version = "0.1.3", path = "../fracpack" }
include_dir = "0.7"
mime_guess = "2.0"
psibase_macros = { version = "0.1.3", path = "../psibase_macros" }
psibase_names = { version = "0.1.3", path = "../psibase_names" }
ripemd = "0.1"
serde = { version = "1.0", features = ["derive"] }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
anyhow = "1.0"
clap = {version = "3.1", features = ["derive"]}
futures = "0.3"
indicatif = "0.17"
reqwest = { version = "0.11", default-features = false, features = ["json","rustls-tls"] }
secp256k1 = { version="0.22", features = ["global-context", "bitcoin_hashes"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
