If:
  PathMatch: ^(.*/)?packages/.*$
CompileFlags:
  CompilationDatabase: build/wasm
---
If:
  PathMatch: ^(.*/)?external/.*$
CompileFlags:
  CompilationDatabase: build
---
If:
  PathMatch: ^(.*/)?libraries/(net|psibase_http|triedent|debug_eos_vm)/.*$
CompileFlags:
  CompilationDatabase: build
---
If:
  PathMatch: ^(.*/)?libraries/(psibase|psio)/.*$
CompileFlags:
  CompilationDatabase: build/wasm
---
If:
  PathMatch: ^(.*/)?programs/(psinode|psitest)/.*$
CompileFlags:
  CompilationDatabase: build
---
If:
  PathMatch: ^(.*/)?programs/snapshot/.*$
CompileFlags:
  CompilationDatabase: build/wasm
---
If:
  PathMatch: ^(.*/)?wasm/.*$
CompileFlags:
  CompilationDatabase: build/wasm
