{
	"Create table": {
		"scope": "cpp",
		"prefix": "psi-table",
		"body": [
			"struct ${1:TableName}",
			"{",
			"   psibase::AccountNumber account;",
			"};",
			"PSIO_REFLECT($1, account);",
			"using $1Table = psibase::Table<$1, &$1::account>;"
		],
		"description": "Create psibase service table skeleton"
	},

	"Create store/serve actions": {
		"scope": "cpp",
		"prefix": "psi-storeserve",
		"body": [
		  "auto ${1:ServiceName}::serveSys(psibase::HttpRequest request) -> std::optional<psibase::HttpReply>",
		  "{",
		  "   if (auto result = psibase::serveSimpleUI<$1, false>(request))",
		  "      return result;",
		  "",
		  "   if (auto result = psibase::serveContent(request, ${2:Db}{}))",
		  "      return result;",
		  "",
		  "   if (auto result = psibase::serveGraphQL(request, ${3:Queries}{}))",
		  "      return result;",
		  "",
		  "   return std::nullopt;",
		  "}",
		  "",
		  "void $1::storeSys(std::string path, std::string contentType, std::vector<char> content)",
		  "{",
		  "   psibase::check(psibase::getSender() == psibase::getReceiver(), \"wrong sender\");",
		  "   psibase::storeContent(std::move(path), std::move(contentType), std::move(content), $2());",
		  "}"
		],
		"description": "Creates default store/serve actions for storing UIs, packing actions, and serving UIs & Db tables."
	  }

}
