{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Full Build",
            "type": "shell",
            "command": "mkdir -p build && cd build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=yes -DBUILD_JS=yes -DBUILD_NATIVE=yes -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc)",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(tools) Full build"
                }
            }
        },
        {
            "label": "Build Services",
            "type": "shell",
            "command": "mkdir -p build && cd build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=no -DBUILD_JS=no -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc)",
            "group": {
                "kind": "build"
            },
            "options": {
                "statusbar": {
                    "label": "$(tools) Build services"
                }
            }
        },
        {
            "label": "testnet",
            "type": "shell",
            "command": "mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=yes -DBUILD_JS=yes -DBUILD_NATIVE=yes -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc) && ./psitest launchTestChain-test-debug.wasm -s -r compact",
            "group": {
                "kind": "build",
            },
            "options": {
                "statusbar": {
                    "label": "$(rocket) Build & Launch local testnet",
                }
            }
        },
        {
            "label": "Test Token",
            "type": "shell",
            "command": "cd build && psitest TokenSys-test-debug.wasm -s -r compact",
            "group": {
                "kind": "test",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(beaker) Test Token"
                }
            }
        }
    ],
    "inputs": [
        {
            "id": "testsuite",
            "type": "promptString",
            "default": "[mytestsuite]",
            "description": "Enter test suite key (Example: \"[MyTestSuite]\""
        }
    ]
}
