{
    "version": "2.0.0",
    "inputs": [
        {
            "id": "testsuite",
            "type": "promptString",
            "default": "[mytestsuite]",
            "description": "Enter test suite key (Example: \"[MyTestSuite]\""
        }
    ],
    "tasks": [
        {
            "label": "make",
            "type": "shell",
            "command": "cd build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=yes -DBUILD_JS=yes -DBUILD_NATIVE=yes -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc)",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(diff-insert) Full Build",
                    "tooltip": "Build with cmake"
                }
            }
        },
        {
            "label": "buildcpp",
            "type": "shell",
            "command": "cd build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=no -DBUILD_JS=no -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc)",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(diff-insert) Build services",
                    "tooltip": "Build cpp/rust only"
                }
            }
        },
        {
            "label": "testnet",
            "type": "shell",
            "command": "cd build && cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_DEBUG_WASM=ON -DBUILD_RUST=yes -DBUILD_DOC=yes -DBUILD_JS=yes -DBUILD_NATIVE=yes -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache .. && make -j $(nproc) && ./psitest launchTestChain-test-debug.wasm -s -r compact",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(diff-insert) Build & Launch local testnet",
                    "tooltip": "Build with cmake & invoke psitest on the testchain wasm"
                }
            }
        },
        {
            "label": "testspecific",
            "type": "shell",
            "command": "cd build && ./psitest TokenSys-test-debug.wasm -s -r compact",
            "args": [],
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "options": {
                "statusbar": {
                    "label": "$(diff-insert) Test Token",
                    "tooltip": "Invoke psitest on the system token service"
                }
            }
        }
    ]
}
