[package]
name = "fracpack"
version = "0.1.3"
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition = "2021"
description = "Convert to and from the fracpack format"
license = "MIT"

[lib]
path = "src/fracpack.rs"

[dependencies]
custom_error = "1.9.2"
psibase_macros = { version = "0.1.3", path = "../psibase_macros" }
