[package]
name = "cargo-psibase"
version = "0.1.3"
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
edition = "2021"
description = "Build tool for psibase blockchains"
license = "MIT"

[dependencies]
anyhow = "1.0"
binaryen = "0.12"
cargo_metadata = "0.15.0"
clap = {version = "3.1", features = ["derive"]}
console = "0.15.2"
parity-wasm = "0.45"
psibase = { version = "0.2.0", path = "../psibase" }
regex = "1"
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
url = "2.3"

[build-dependencies]
binaryen = "0.12"
