.Search > .Status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-right: 5px;

    & > * {
        display: none !important;
    }

    & > :last-child {
        display: flex !important;
    }

    &:hover {
        & > * {
            display: none !important;
        }

        & > :first-child {
            display: flex !important;
        }
    }
}