.SendDialogField {
  min-height: 4rem;

  .contentLen-2 {
    line-height: 1.4rem;
  }

  .contentLen-3 {
    line-height: 1rem;
  }

  input:focus {
    box-shadow: none;
  }

  ::placeholder {
    color: #94A3B8;
  }
}